.content {
    max-width: 1200px;
    margin: 0 auto;
    font-family: sans-serif;
}
.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.user-card {
    max-width: 350px;
    margin: 20px;
    position: relative;
}
.description {
    font-size: 12px;
}
#delete {
    position: absolute;
    top: -10px;
    right: 10px;
}
.user-name {
    font-size: 14px;
    font-weight: 700;
}
.email {
    font-size: 14px;
}
.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 64px;
    height: 64px;;
    margin: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}    