body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    font-family: 'Ubuntu', sans-serif;
}
.head {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 18px 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-title {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.3s;
}
.head-title:hover{
    color: #3CB878;
}
.head-contacts {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;  
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.head-contacts>a {
    padding-right: 27px;
}
.icon:hover path {
    fill:#3CB878;
}
.head-contacts>p {
    padding-left: 27px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.login, .signup {
    font-size: 14px;
    color: #FFFFFF;
    transition: 0.3s;
} 
.login:hover, .signup:hover {
    color:#3CB878
}
.container {
    width: 324px;
    margin: 52px auto;
    padding: 31px 61px 38px 61px;
    background-color: #FFFFFF;
    position: relative;
}
.container::after {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 29px;
    left: 0;
}
.form-title {
    font-size: 20px;
    color: #434343;
}
.form-title-link {
    font-size: 14px;
    color: #3CB878;
    transition: 0.3s;
}
.form-title-link:hover {
    color: #01813F;
    text-decoration: underline;
}
.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.buttons {
    display: flex;
    gap: 4px;
    margin-bottom: 31px;
}
.google-icon path {
    fill: #FFFFFF;
}
.facebook {
    background-color: #305DB8;
}
.google {
    background-color: #DF4A32;
}
.facebook, .google {
    font-size: 16px;
    line-height: 48px;
    color: #FFFFFF;
    border-radius: 3px;
    width: 50%;
    position: relative;
    transition: 0.3s;
}
.fb-icon, .google-icon {
    margin-left: 12px;
    margin-right: 38px;   
}
.fb-icon{
    margin-top: 12px;
}
.google-icon {
    margin-top: 15px;
}
.facebook::after, .google::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 48px;
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    opacity: 0.1;
}
.facebook:hover {
    background-color: #022263;
}
.google:hover {
    background-color:#AB1F09;
}
.divider {
    margin-bottom: 12px;
    font-size: 14px;
    color: #848484;
    position: relative;
    text-align: center;
}
.divider::after,
.divider::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    transform: translateY(-50%);
}
.divider::before {
    left: -5px;
}
.divider::after {
    right: -5px;
}
.signin-form {
    display: flex;
    flex-direction: column;
}
.form-field {
    font-size: 14px;
    color: #434343;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    line-height: 44px;
    transition: 0.5s;
    transition-property: box-shadow;
    margin-bottom: 15px;
    padding-left: 20px;
}
.form-field::placeholder {
    color: #BEBEBE;
    text-transform: capitalize;
}
.form-field:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.form-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-top: 4px;
    font-size: 14px;
    color: #434343;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #F2F2F2;
}
.form-checkbox input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.form-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
.form-checkbox .checkmark:after {
    left: 6px;
    top:0px;
    width: 6px;
    height: 14px;
    border: solid #3CB878;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
.check-link {
    color: #3CB878;
    transition: 0.3s;
}
.check-link:hover {
    color: #01813F;
    text-decoration: underline;
}
.form-submit {
    margin-top: 20px;
    background-color: #3CB878;
    border-radius: 4px;
    font-size: 16px;
    line-height: 46px;
    color: #FFFFFF;
    padding: 16px auto;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    transition: 0.3s;
}
.form-submit:hover {
    background-color: #01813F;
}