body {
    background-image: url(../img/background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container {
    width: 1023px;
    margin: 51px auto 85px;
    
}
.header-logo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo-title1 {
    font-size: 29px;
    margin-left: 10px;  
}
.logo-title2 {
    font-size: 18px;
    margin-left: 10px;
}
.logo-title1, .logo-title2 {
    color: #FFFFFF;
    text-transform: uppercase;
}
.logo-hover-img {
    position: absolute;
    top: -300px;
}
.logo:hover .logo-title1 {
    color: #F26522;
    transition: 0.5s;
}
.logo:hover .logo-title2 {
    color: #F26522;
    transition: 0.5s;
}
.logo:hover .logo-img {
    opacity: 0; 
    transition: 0.5s;
}
.logo:hover .logo-hover-img {
    top: 3px;
}
.contacts>a {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.contacts>a:hover {
    color: #F26522;
    transition: 0.5s;
}
.logo {
    display: flex;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 37px 61px;
}
.portfolio-text {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}
.portfolio-hover {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 7px 37px 12px 16px;
    color: #FFFFFF;
    background-color: #F26522;
    box-sizing: border-box;
    position: absolute;
    bottom: -300px;
    left: 0; 
    transition: 0.5s;
    z-index: 1000;
}
.portf-price-1line {
    font-size: 10px;
    margin-bottom: 8px;
}
.portf-price-2line {
    font-size: 20px;
}
.portf-details {
    font-size: 14px;
}
.portfolio-hover::after {
    content: "";
    width: 7px;
    height: 7px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(-45deg);
    position: absolute;
    right: 14px;
}
.portfolio-item {
    position: relative;
    overflow: hidden;
}
.portfolio-item:hover .portfolio-hover {
    bottom:38px;
    left: 0;
    right: 0;
}
.portfolio-item:hover .portfolio-text {
    color: #F26522;
    transition: 0.5s
}
.footer-copyright {
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 50px;
}