body {
    background: #000;
    overflow: hidden;
  }
body::before {
    content:"";
    position:fixed;
    left:0;
    right:0;
    top:0;
    min-height: 60vh;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
  }
  
.star-wars {
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items:center;
    height: 100vh;
    color: #f8d030;
    font-family: sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 100px;
    text-align: justify;
  }
.crawl {
    transform-origin: bottom;
    width:90%;
    animation: crawl 30s linear infinite; 
  }
  
.title {
    font-size: 90%;
    text-align: center;
    margin: 0 0 50px;
    text-transform: uppercase;
  }
  
@keyframes crawl {
    0% {
      transform:rotateX(20deg) translateY(100%);
    }
    100% {
      transform:rotateX(25deg) translateY(-100%);
    }
  }
  