table {
  border: 22px solid #3A4965;
  border-collapse: collapse;
  margin: 10px auto;
  font-family: 'Arimo', sans-serif;
  text-transform: uppercase;
  width: 1197px;
}
.first-column {
  width: 210px;
}
.other-column {
  width: 160px;
}
.table-name {
  line-height: 28px;
  font-weight: 700;
  font-size: 14px;
  color: #484848;
}
.table-head {
  height: 72px;
  text-align: center;
  vertical-align: middle;
  padding-top: 26px;
  padding-bottom: 40px;
  border-bottom: 9px solid #3A4965;
}
.table-head:nth-child(odd) {
  background-color: #F2F2F2;
}
.table-head:nth-child(even) {
  background-color: #E3E3E3;
}
.table-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.column-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #484848;
  padding-top: 5px;
}
.tbody-row {
  height: 165px;
  font-size: 16px;
  line-height: 24px;
  color: #484848;
  text-align: center;
  vertical-align: middle;
  border-bottom:1px solid #d7d3d3;;
}
.tbody-row:nth-child(odd) {
  background-color: #F2F2F2;
}
.tbody-row:nth-child(even) {
  background-color: #E3E3E3;
}
.btn {
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 15px 20px 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #414141;
  box-shadow: 0px 7px #343434;
  margin: 11px 26px 20px 26px;
}
.plan-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
}
.plan-price {
  font-weight: 700;
  font-size: 36px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-left: 18px;
}
.plan-standart {
  background-color: #89C331;
  border: none;
}
.plan-ultimate {
  background-color: #F04A56;
  border: none;
}
.plan-premium {
  background-color: #20807C;
  border: none; 
}
.plan-column {
  vertical-align: middle;
  position: relative;
}
.plan-column::before {
  content: ".99";  
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
  position:absolute;
  top: 43px;
  left: 60px;
}
.plan-column::after {
  content: "per month";  
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  position:absolute;
  top: 60px;
  left: 83px;
}
 