body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.head-title {
    font-size: 80px;
    line-height: 94px;
    width: 1280px;
    margin: 40px auto;
}
.logo-color {
    color: #4bcaff;
}
.head-menu-container {
    display: flex;
	justify-content: center;
    align-items: center;
    height: 98px;
    background-color: #35444F; }

 .head-menu-link {
    font-size: 24px;
    line-height: 98px;
    color:#FFFFFF;
 }   
.head-menu-item {
    border-left: 1px solid #FFFFFF;
    text-align: center; 
    padding-left: 40px;
    padding-right: 40px;    
}
.head-menu-item:nth-last-child(1) {
    border-right: 1px solid #FFFFFF; 
}
.head-menu-item:hover {
    background-color: #222F3A
}
.main {
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
    align-items: flex-start;
 }

.left-menu {
    border: 1px solid #000000;
    font-size: 27px;
    width: 344px;  
}
.left-menu-link {
    color: #495863;
}
.left-menu-item {
    line-height: 52px;
    padding-left: 30px;
    transition: 0.5s;
}
.left-menu-item:hover {
    padding-left: 45px;
    background-color: #DBDBDB;
}
.content-img {
    padding: 75px 280px;
    border: 1px solid #000000;
    transition: 0.5s;
}
.content-img:hover {
    transform: scale(1.1);
}
.content {
    font-size: 18px;
    line-height: 24px;
    max-width: 885px;
    margin-top: 35px;
}
.footer-menu {
    background-color: #b4b7b9;
    padding: 20px 40px;
    margin-top: 54px;
    margin-bottom: 30px;
}
.footer-link {
    font-size: 28px;
    line-height: 28px;
    margin-right: 40px;
    transition: 0.3s;
}
.footer-copyright {
    font-size: 24px;
    line-height: 24px;
    margin-left: 75px;
}
.footer-link:hover {
    color: #2a9ecf;
    text-decoration: underline;
}