body {
    margin: 0 auto;
    max-width: 1200px;
}
.btn {
    margin: 40px;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 15px;
}
.address {
    margin-left: 40px;
    font-size: 20px;
}