body {
    font-family: 'Montserrat', sans-serif;
}
.header {
    width: 100%;
    height: 1012px;
    background-image: url('../img/background/header.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 8px;
}
.container{
    width: 1160px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.nav-menu {
    height: 120px;
    padding-top: 38px;
    background-color: rgba(94, 93, 88, 0.6);
}
.nav-container {
    width: 1160px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.hexagon {
    width: 58px;
    height: 40px;
    background: #18CFAB;
    position: relative;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
  }
.hexagon::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-bottom: 20px solid #18CFAB;
  }
.hexagon::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-top: 20px solid #18CFAB;
  } 
.logo {
    font-size: 32px;
    color: #FFFFFF;
    line-height: 48px;
}
.highlighted {
    font-weight: 700;
    color: #18CFAB;
}
.head-menu {
    padding-top: 27px;
    display: flex;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.head-menu-item {
    padding-right: 21px;
    transition: 0.6s ease;
    cursor: pointer;
}
.head-menu-item:hover {
    color: #18CFAB;
}

.header-content {
    padding-top: 266px;
    color: #FFFFFF;
}
h2 {
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
}
h1 {
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
}
.header-text {
    margin-top: 22px;
    margin-bottom: 134px;
    font-size: 34px;
    color: #D4D4D4;
    text-transform: capitalize;
}
.btn-header {
    display: inline-block;
    width: 168px;
    height: 63px;
    border: none;
    box-shadow: 0 -5px;
    border-radius: 4px;
    margin-right: 26px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0; 
}
.header-explore-btn {
    background-color: #18CFAB;
}
.header-purchase-btn {
    background-color: #00CBF6;
}
.services-wrapper {
    display: flex;
    width: 100%;
}
.services-icon:nth-child(odd) {
    background-color: #1C2A33;
    color:#18CFAB;
}
.services-icon:nth-child(odd) svg {
    padding-top: 95px;
    padding-bottom: 36px;
}
.services-icon:nth-child(even) {
    background-color: #18CFAB;
    color: #FFFFFF;
}
.services-icon:nth-child(even) svg {
    padding-top: 105px;
    padding-bottom: 48px;
}
.services-icon {
    margin: 0 auto;
    height: 367px;
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
h3 {
    position: relative;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    padding-top: 85px;
    padding-bottom: 100px;
}
h3::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    top: 147px;
    left:542px;
    background-color: #18CFAB;
}
h3::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    top: 153px;
    left:562px;
    background-color: #18CFAB;
}
.tab-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 71px;
}
.tabs-service-title {
    width: 192px;
    height: 72px;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    font-size: 14px;
    line-height: 72px;
    color: #717171;
    transition: 0.6s ease;
}
.active-tab {
    background-color: #18CFAB;
    color: #FFFFFF;
}
.tabs-service-title:hover {
    border: 1.5px solid #18CFAB;
} 

.tabs-service-content {
    display: flex;
    margin-bottom: 91px;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
}
.tabs-img {
    width: 192px;
    height: 139px;
}
.hidden {
    display: none;
}
.purchase {
    width: 100%;
    height: 476px;
    background-image: url('../img/background/Layer2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.purchase-highlighted-text {
    padding-top: 127px;
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}
.purchase-text {
    padding-bottom: 67px;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}
.btn {
    display: inline-block;
    width: 168px;
    height: 63px;
    border-radius: 4px;
    background-color: #18CFAB;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
}
.btn-purchase {
    border: none;
    box-shadow: 0 -5px;
}
.amazing-work {
    background-color: #E9EDEF;
    position: relative;
}
.portfolio-menu {
    display:flex;
    justify-content: center;
    margin-bottom: 71px;
}
.portfolio-menu-title {
    padding-left: 15px;
    padding-right: 15px;
    height: 58px;
    border: 1px solid #DADADA;
    font-size: 14px;
    line-height: 60px;
    color: #717171;
}
.portfolio-menu-title.wider {
    padding-left: 28px;
    padding-right: 28px;
}
.active-portfolio {
    border: 1px solid #18CFAB;
    color: #18CFAB;
}
.portfolio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 70px;
}
.portfolio-item {
    position: relative;
    overflow: hidden;
    transition: 3.5s
}
.portfolio-item:hover .portfolio-hover {
    top:0;
}
.portfolio-hover {
    box-sizing: border-box;
    position: absolute;
    background-color: #FFFFFF;
    border-top: 4px solid #18CFAB;
    height: 100%;
    width: 100%;
    padding: 50px;
    text-align: center;  
    top: -300px;
    left: 0; 
    transition: 0.5s;
}
.gallery-hover-title {
    margin-top: 24px;
    font-weight: 700;
    font-size: 14.1771px;
    line-height: 35px;
    color: #18CFAB;
    text-transform: uppercase;
}
.gallery-hover-text {
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8A8A8A;
}
.unload {
    display: none;
}

.loader-container {
    width: 70px;
    height: 35px;
    overflow: hidden;
    margin: 0px auto 10px auto;
}
#loader {
    width: 70px;
    height: 70px;
    border-style: solid;
    border-top-color: #18CFAB;
    border-right-color: #18CFAB;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotate 3s ease-in-out infinite;
    transform: rotate(-200deg)
  }
  @keyframes rotate {
    0% { border-width: 10px; }
    25% { border-width: 3px; }
    50% { 
      transform: rotate(115deg); 
      border-width: 10px;
    }
    75% { border-width: 3px;}
    100% { border-width: 10px;}
  }
.btn-load {
    margin-bottom: 99px;
    padding-left: 26px;
    position: relative;
    border: none;
}
.btn-load::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 15px;
    background-color: #FFFFFF;
    top: 28px;
    left: 18px 
}
.btn-load::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 3px;
    background-color: #FFFFFF;
    top: 22px;
    left: 24px 
}
.news-wrapper {    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    margin-bottom: 128px;
}
.news-title {
    margin-top: 5px;
    font-weight: 700;
    font-size: 17.9885px;
    line-height: 39px;
    color: #717171;
}
.comments {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #777777;
    padding-left: 10px;
    padding-right: 10px;
}
.comments-amount {
    border-left: 1px solid #777777;
}
.news-item {
    position: relative;
}
.news-item:hover .data {
    background-color: #18CFAB;
    color:#FFFFFF
}
.news-item:hover .news-title {
    color: #18CFAB;
}
.data {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 68px;
    background-color: #203E38;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    transition: 0.6s ease;
}
.about {
    background-image: url(../img/background/section-3.jpg);
    height: 853px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.title-about {
    color: #FFFFFF;
}

.about::before {
    content: url(../img/svg/quotes.svg);
    position: absolute;
    top: 237px;
    left: 49%
}
.feedback-item {
    margin-bottom: 60px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: inline-block;
}
.feedback-text {  
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}
.feedback-name {
    margin-top: 33px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
}
.feedback-position {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #BBBBBB;
}
.feedback-img {
    width: 143px;
    height: 142px;
    margin-top: 50px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(26, 206, 171, .2);
}
.swiper {
    margin-top: 60px;
    height: 400px;
    position: relative;
    width: 24%;
    height: 100%;
}

.mySwiper {
    margin-top: 40px;
    position: relative;
    padding: 15px 10px;
    height: 20%;
    box-sizing: border-box;
}

.swiper-wraper {
    position: relative;
}
.mySwiper2 {
    width: 100%;
    height: 100%;
}
.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.7;
    margin-right: 36px;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
    top: -10px;
}

.swiper-slide-visible {
    margin-right: 38px;
    width: 60px;
    height: 60px;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(26, 206, 171, .2);
}

.swiper-button-prev, .swiper-button-next {
    cursor: pointer;
    position: absolute;
    top: 93%;
    width: 31px;
    height: 31px;
    margin:0 auto;
    color: #BBBBBB;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    transition: 0.6s ease;
    border: 1px solid #BBBBBB;
    background-color: rgba(0, 0, 0, 0.0001);
}
.swiper-button-prev {
    left: 370px
}
.swiper-button-next {
    right: 370px
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 20px;

}
.swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.footer {
    width: 100%;
    height: 121px;
    background-color: #22353F;
    margin:0 auto;
    text-align: center;    
}
.copyright {
    font-weight: 300;
    font-size: 14px;
    line-height: 120px;
    color: #AEAEAE;
}
.copyright-highlighted {
    font-weight: 300;
    font-size: 14px;
    line-height: 120px;
    color: #18CFAB;
}