table {
    border: 22px solid #3A4965;
    border-collapse: collapse;
    margin: 10px auto;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    width: 1192px
}
td, th {
    border: 1px solid #d7d3d3;
  }
.table-name {
    line-height: 28px;
}
  .first-column {
      width: 313px;
  }
  tbody tr{
      font-size: 16px;
      line-height: 28px;
      color: #484848;
  }
  tbody tr:nth-child(odd) {
      background-color: #F2F2F2;;
  }
  tbody tr:nth-child(even) {
      background-color: #E3E3E3;
  }
.other-column {
    width: 280px;
  }
.first-head-row {
    height: 73px;
    vertical-align: middle;
  }
.second-head-row {
    font-size: 60px;
    font-weight: 700;
    color: #484848;  
    height: 89px;
    text-align: left;
    vertical-align: middle;
    padding-left: 30px;
    position: relative;
  }
.second-head-row::before{
    content: ".99";  
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #484848;
    position:absolute;
    top: 10px;
    left: 135px;
  } 
  .second-head-row::after{
    content: "per month";  
    font-size: 18px;
    line-height: 28px;
    color: #484848;
    position:absolute;
    top: 34px;
    left: 138px;
  } 
  .head-standard {
      font-size: 24px;
      line-height: 28px;
      color: #FFFFFF;
      border: none;
      background-color: #89C331;
  }
.head-ultimate {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border: none;
    background-color: #F04A56;
}
.head-premium {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border: none;
    background-color: #20807C;
}
.table-row {
    height: 72px;
    text-align: center;
    vertical-align: middle;
}
.foot-row {
    height: 109px;
    vertical-align: middle;
    text-align: center;
    background-color: #F2F2F2;
}
.table-name {
    font-weight: 700;
    font-size: 18px;
  }
  .table-title {
    font-weight: 700;
    font-size: 30px; 
  }
.contacts-link {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #484848;
    border-radius: 5px;
    padding: 18px 45px 9px;
    box-shadow: 0px 9px #404040;
  }
.btn {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 16px 59px 11px;
    border: none;
    border-radius: 5px;
}
.btn-standard {
    background-color: #89C331;
    box-shadow: 0px 9px #79B027;
}
.btn-ultimate {
    background-color: #F04A56;
    box-shadow: 0px 9px #DF3A46;
}
.btn-premium {
    background-color: #20807C;
    box-shadow: 0px 9px #16736F;
}