.cart-page {
    &__title {
        font-size: 36px;
        text-align: center;
    }
    &__item {
        display: flex;
        align-items: center;
    }
}
.item-amount {
    font-size: 20px;
    padding: 5px;
}
.remove-item {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}