.menu {
  text-transform: uppercase;
  list-style-type: none;
  margin-top: 25.5px;
  margin-bottom: 25.5px;
  padding: 0;
  font-size: 18px;
  letter-spacing: 2.7px;
  font-weight: 700;
  text-align: center;
  height: 27px;
  font-family: "Montserrat";
}
.menu a {
  text-decoration: none;
  color: #ff0000;
  padding: 20px;
}
.menu li {
  display: inline-block;
  vertical-align: middle;
}
.main-image {
  width: 100vw;
}

.main-title {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 3.3px;
  text-align: center;
  font-weight: 700;
  font-family: "Montserrat";
  margin-top: 48px;
  margin-bottom: 38px;
}

.main-text {
  text-align: center;
  font-size: 16px;
  letter-spacing: 2.4px;
  margin-left: 67.5px;
  margin-right: 67.5px;
  margin-bottom: 28px;
  font-family: "Montserrat";
}

.btn-link {
  background-color: #ff0000;
  border-radius: 4px;
  text-decoration: none;
  padding: 18px 43px;
  color: white;
  font-size: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-family: "Montserrat";
}
.button {
  text-align: center;
  margin-top: 38px;
  margin-bottom: 82px;
}
.footer {
  font-size: 16px;
  letter-spacing: 2.4px;
  font: 700;
  text-align: right;
  font-family: "Montserrat";
  margin-right: 105px;
  line-height: 20px;
}
