.content {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
.movie-item {
    padding: 10px;
    max-width: 200px;
}
.episod-id {
    color: rgb(224, 77, 77);
    font-size: 18px;
    text-decoration: underline;
    text-align: center;
}
.description {
    font-size: 12px;

}
.list-of-characters {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 11px;
    color: rgb(99, 84, 195);
}
.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;;
    margin: 0 auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
