.icon-del,
.icon-edit {
  position: absolute;
  right: 5px;
  top: 3px;
  cursor: pointer;
}
.visit_card {
  margin-bottom: 2rem;
}
.card-body {
  position: relative;
  box-sizing: border-box;
}
.icon-edit {
  right: 35px;
}
.card-title {
  padding-top: 20px;
}
.form-checkbox {
  position: absolute;
  left: 6px;
  top: 6px;
  padding-left: 35px;
  padding-top: 4px;
  font-size: 14px;
  color: #434343;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #44523d;
}

.form-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.form-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.form-checkbox .checkmark:after {
  left: 6px;
  top: 0px;
  width: 6px;
  height: 14px;
  border: solid $-accent-color;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

@media (max-width: 789px) {
  .col-sm-3 {
    width: 50%;
  }
}
@media (max-width: 368px) {
  .col-sm-3 {
    width: 100%;
  }
}
