html,
body {
  height: 100%;
  position: relative;
}
body {
  font-family: "Oswald", sans-serif;
  position: relative;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}
.header {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.navbar {
  background: rgb(159, 189, 201);
}
.nav-item {
  margin-right: 20px;
}
.nav-link,
.navbar-brand {
  color: $-main-color;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}
.nav-link,
.navbar-brand a:hover {
  text-decoration: none;
  color: $-accent-color;
}

.navbar-brand__logo {
  width: 70px;
  margin-left: 20px;
}
.nav-link {
  margin-right: 1em !important;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-toggler {
  background: $-main-color !important;
}
.feedback {
  margin-right: 100px;
}
.contacts {
  margin-left: 40px;
  font-size: 18px;
  line-height: 18px;
  color: $-main-color;
}
.contacts-number {
  color: $-main-color;
  margin: 19px 0;
}
.contacts:hover {
  color: $-accent-color;
}
#exit {
  display: none;
}
@media (max-width: 991px) {
  .feedback {
    display: none;
  }
  .navbar-collapse {
    display: flex;
    flex-basis: 0;
  }
  .navbar-nav {
    flex-direction: row;
  }
}

@media (max-width: 471px) {
  .feedback {
    display: none;
  }
  .navbar-collapse {
    display: flex;
    flex-basis: 0;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .navbar {
    flex-direction: column;
    align-items: stretch;
  }
}
